In [1]:
import pandas as pd

### Read datasets

In [2]:
regions = pd.read_csv("regions.csv")
countries = pd.read_csv("(2)updated_full_us_trading_data.csv")
population = pd.read_csv("population-and-demography.csv")
agriculture = pd.read_csv("agricultural-land.csv")
urban_population = pd.read_csv("urban-and-rural-population.csv")
water = pd.read_csv("water-and-sanitation.csv")

### Preprocess

In [13]:
regions_df = regions.rename(columns={"Country or Area": "Country", "ISO-alpha3 Code": "ISO", "Region 1": "Region"})
regions_df = regions_df[["Country", "ISO", "Region", "Continent"]]
regions_df

                       Country  ISO           Region Continent
0                  Afghanistan  AFG    Southern Asia      Asia
1                Åland Islands  ALA  Northern Europe    Europe
2                      Albania  ALB  Southern Europe    Europe
3                      Algeria  DZA  Northern Africa    Africa
4               American Samoa  ASM        Polynesia   Oceania
..                         ...  ...              ...       ...
244  Wallis and Futuna Islands  WLF        Polynesia   Oceania
245             Western Sahara  ESH  Northern Africa    Africa
246                      Yemen  YEM     Western Asia      Asia
247                     Zambia  ZMB   Eastern Africa    Africa
248                   Zimbabwe  ZWE   Eastern Africa    Africa

[249 rows x 4 columns]

In [4]:
unique_countries = sorted(list(set(countries["country2"].to_list())))
countries_df = pd.DataFrame({"Country": unique_countries})
countries_df

         Country
0    Afghanistan
1        Albania
2        Algeria
3        Andorra
4         Angola
..           ...
194      Vietnam
195        World
196        Yemen
197       Zambia
198     Zimbabwe

[199 rows x 1 columns]

In [5]:
water_df = water[water.Year == 2020]

water_df = water_df[["Entity",
            #    "Year",
               "Access to improved drinking water",
               "Access to basic drinking water",
               "Access to limited drinking water",
               "Access to unimproved drinking water",
               "No access to drinking water",
               "Access to safely managed drinking water",
               "Access to improved sanitation",
               "Access to basic sanitation services",
               "Access to limited sanitation services",
               "Access to unimproved sanitation facilities",
               "Open defecation (no sanitation facilities)",
               "Access to safely managed sanitation",
               "Access to basic handwashing facilities",
               "Access to limited handwashing facilities",
               "No handwashing facilities"]].rename(columns={"Entity": "Country"})

water_df.columns = water_df.columns.map(lambda x: x + " (2020)" if x != "Country" else x)

water_df

,Country,Access to improved drinking water (2020),Access to basic drinking water (2020),Access to limited drinking water (2020),Access to unimproved drinking water (2020),No access to drinking water (2020),Access to safely managed drinking water (2020),Access to improved sanitation (2020),Access to basic sanitation services (2020),Access to limited sanitation services (2020),Access to unimproved sanitation facilities (2020),Open defecation (no sanitation facilities) (2020),Access to safely managed sanitation (2020),Access to basic handwashing facilities (2020),Access to limited handwashing facilities (2020),No handwashing facilities (2020)
20,Afghanistan,76.54,75.09,1.45,14.56,8.90,27.59,61.44,50.50,10.94,27.77,10.78,NaN,38.12,34.23,27.66
41,Albania,96.95,95.07,1.88,3.05,0.00,70.67,99.87,99.30,0.57,0.13,0.00,47.69,NaN,NaN,NaN
62,Algeria,99.42,94.44,4.99,0.53,0.04,72.38,96.47,85.97,10.51,3.53,0.00,17.61,84.63,10.61,4.77
83,American Samoa,99.77,99.77,0.00,0.23,0.00,98.36,99.03,54.45,44.58,0.27,0.70,NaN,NaN,NaN,NaN
104,Andorra,100.00,100.00,0.00,0.00,0.00,90.64,100.00,100.00,0.00,0.00,0.00,100.00,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5033,Western Asia and Northern Africa,97.57,92.02,5.55,1.31,1.12,78.69,91.40,88.45,2.95,5.78,2.82,41.73,90.70,6.80,2.50
5054,World,93.72,90.10,3.62,4.71,1.56,74.27,85.75,78.31,7.44,7.91,6.34,53.95,70.74,20.66,8.60
5075,Yemen,89.63,60.66,28.96,7.78,2.60,NaN,59.09,54.12,4.98,31.17,9.73,18.84,NaN,NaN,NaN
5096,Zambia,71.57,65.41,6.15,21.58,6.86,NaN,51.70,31.90,19.80,37.05,11.25,NaN,17.93,31.40,50.67
5117,Zimbabwe,76.86,62.67,14.20,16.28,6.86,29.54,65.43,35.19,30.23,11.07,23.50,25.65,42.43,54.64,2.94

In [6]:
urban_population_df = urban_population[urban_population.Year == 2020]
urban_population_df.columns = ["Country", "Code", "Year", "Urban_population", "Rural_population"]

urban_population_df = urban_population_df[["Country", "Urban_population", "Rural_population"]]
urban_population_df.columns = urban_population_df.columns.map(lambda x: x + " (2020)" if x != "Country" else x)

urban_population_df

              Country  Urban_population (2020)  Rural_population (2020)
60        Afghanistan                 10142913             2.882932e+07
122           Albania                  1762645             1.075204e+06
184           Algeria                 32038217             1.141345e+07
246    American Samoa                    40255             5.934000e+03
308           Andorra                    68311             9.389000e+03
...               ...                      ...                      ...
13918         Vietnam                 36088619             6.056006e+07
13980           World               4383714769             3.435444e+09
14042           Yemen                 12238236             2.004581e+07
14104          Zambia                  8447250             1.048046e+07
14166        Zimbabwe                  5052214             1.061745e+07

[229 rows x 3 columns]

In [7]:
agriculture_df = agriculture[agriculture.Year == 2020]
agriculture_df.columns = ["Country", "Code", "Year", "Agricultural_area_hectares"]
agriculture_df = agriculture_df[["Country", "Agricultural_area_hectares"]]
agriculture_df.columns = agriculture_df.columns.map(lambda x: x + " (2020)" if x != "Country" else x)

agriculture_df

              Country  Agricultural_area_hectares (2020)
59        Afghanistan                       3.835600e+07
119            Africa                       1.123959e+09
179      Africa (FAO)                       1.123959e+09
239           Albania                       1.165555e+06
299           Algeria                       4.135885e+07
...               ...                                ...
15130  Western Sahara                       5.004000e+06
15190           World                       4.744459e+09
15250           Yemen                       2.345200e+07
15341          Zambia                       2.383600e+07
15401        Zimbabwe                       1.620000e+07

[271 rows x 2 columns]

In [8]:
population_df = population[population.Year == 2020]
population_df = population_df.rename(columns={"Country name": "Country"}).drop(columns="Year")
population_df.columns = population_df.columns.map(lambda x: x + " (2020)" if x != "Country" else x)

population_df

,Country,Population (2020),Population of children under the age of 1 (2020),Population of children under the age of 5 (2020),Population of children under the age of 15 (2020),Population under the age of 25 (2020),Population aged 15 to 64 years (2020),Population older than 15 years (2020),Population older than 18 years (2020),Population at age 1 (2020),...,Population aged 15 to 19 years (2020),Population aged 20 to 29 years (2020),Population aged 30 to 39 years (2020),Population aged 40 to 49 years (2020),Population aged 50 to 59 years (2020),Population aged 60 to 69 years (2020),Population aged 70 to 79 years (2020),Population aged 80 to 89 years (2020),Population aged 90 to 99 years (2020),Population older than 100 years (2020)
70,Afghanistan,38972236,1338671.0,6375097,17072924,25563700,20957368,21899280,19076408,1299717.0,...,4584023,7049695,4238417,2804197,1726474,949111,442845,99060,5458,32.0
142,Africa (UN),1360677200,42887228.0,204488060,551727360,811759900,761876350,808937000,722454400,41703130.0,...,139859620,225711820,173488220,118165256,78001390,46314650,21179608,5672989,543444,12861.0
214,Albania,2866850,28415.0,145146,472214,888579,1941039,2394413,2279673,28033.0,...,193438,459802,377596,331384,391387,336144,206374,87278,11010,223.0
286,Algeria,43451668,967564.0,4914397,13316667,19282000,27520308,30134632,28264790,980968.0,...,3014802,6377985,7212564,5625436,3918854,2434894,1110023,402048,38026,369.0
358,American Samoa,46216,810.0,4235,13028,20595,30199,33188,30799,824.0,...,3887,7965,5253,5592,5506,3377,1285,299,24,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17998,Western Sahara,556060,9364.0,47036,137933,217345,388264,418113,394039,9387.0,...,39754,84533,108286,82614,53921,33158,12965,2647,235,14.0
18070,World,7840953000,133345180.0,679146200,2013738800,3231274800,5087737000,5826666500,5452538000,134525940.0,...,619493500,1196254600,1151358000,969082800,830432400,590299300,318539100,129707720,21499228,547543.0
18142,Yemen,32284044,967706.0,4682244,12974604,19610628,18431832,19309430,17165652,948294.0,...,3483841,6116834,4441041,2501479,1432099,794033,422627,110676,6800,9.0
18214,Zambia,18927716,633795.0,3024405,8267698,12115138,10332594,10659964,9367162,616166.0,...,2080880,3284115,2408864,1528911,801898,374049,142570,35441,3236,54.0
18286,Zimbabwe,15669663,470340.0,2287105,6449021,9709135,8691594,9220402,8139472,462625.0,...,1776240,2640150,2101852,1291333,631541,476507,231604,61546,9629,240.0

### Merge

In [9]:
from functools import reduce

In [14]:
countries_df.shape

(199, 1)

In [15]:
dfs = [countries_df, regions_df, water_df, urban_population_df, agriculture_df, population_df]

df_merged = reduce(lambda  left, right: pd.merge(left,right,on=['Country'], how='left'), dfs)

df_merged.to_csv("country_stats.csv", index=False)
df_merged

,Country,ISO,Region,Continent,Access to improved drinking water (2020),Access to basic drinking water (2020),Access to limited drinking water (2020),Access to unimproved drinking water (2020),No access to drinking water (2020),Access to safely managed drinking water (2020),...,Population aged 15 to 19 years (2020),Population aged 20 to 29 years (2020),Population aged 30 to 39 years (2020),Population aged 40 to 49 years (2020),Population aged 50 to 59 years (2020),Population aged 60 to 69 years (2020),Population aged 70 to 79 years (2020),Population aged 80 to 89 years (2020),Population aged 90 to 99 years (2020),Population older than 100 years (2020)
0,Afghanistan,AFG,Southern Asia,Asia,76.54,75.09,1.45,14.56,8.90,27.59,...,4584023.0,7.049695e+06,4.238417e+06,2804197.0,1726474.0,949111.0,442845.0,99060.0,5458.0,32.0
1,Albania,ALB,Southern Europe,Europe,96.95,95.07,1.88,3.05,0.00,70.67,...,193438.0,4.598020e+05,3.775960e+05,331384.0,391387.0,336144.0,206374.0,87278.0,11010.0,223.0
2,Algeria,DZA,Northern Africa,Africa,99.42,94.44,4.99,0.53,0.04,72.38,...,3014802.0,6.377985e+06,7.212564e+06,5625436.0,3918854.0,2434894.0,1110023.0,402048.0,38026.0,369.0
3,Andorra,AND,Southern Europe,Europe,100.00,100.00,0.00,0.00,0.00,90.64,...,4076.0,9.077000e+03,1.115200e+04,14204.0,13027.0,8290.0,4827.0,2116.0,558.0,33.0
4,Angola,AGO,Middle Africa,Africa,66.46,57.17,9.29,19.45,14.09,NaN,...,3438555.0,5.319939e+06,3.915901e+06,2530801.0,1662270.0,923414.0,383206.0,102086.0,6829.0,179.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194,Vietnam,NaN,NaN,NaN,96.88,96.88,0.00,3.12,0.00,NaN,...,6979806.0,1.513240e+07,1.584773e+07,13741951.0,10364929.0,7798701.0,3258217.0,1356329.0,229981.0,6021.0
195,World,NaN,NaN,NaN,93.72,90.10,3.62,4.71,1.56,74.27,...,619493500.0,1.196255e+09,1.151358e+09,969082800.0,830432400.0,590299300.0,318539100.0,129707720.0,21499228.0,547543.0
196,Yemen,YEM,Western Asia,Asia,89.63,60.66,28.96,7.78,2.60,NaN,...,3483841.0,6.116834e+06,4.441041e+06,2501479.0,1432099.0,794033.0,422627.0,110676.0,6800.0,9.0
197,Zambia,ZMB,Eastern Africa,Africa,71.57,65.41,6.15,21.58,6.86,NaN,...,2080880.0,3.284115e+06,2.408864e+06,1528911.0,801898.0,374049.0,142570.0,35441.0,3236.0,54.0
198,Zimbabwe,ZWE,Eastern Africa,Africa,76.86,62.67,14.20,16.28,6.86,29.54,...,1776240.0,2.640150e+06,2.101852e+06,1291333.0,631541.0,476507.0,231604.0,61546.0,9629.0,240.0